:root {
  font-size: 1.35rem;
  letter-spacing: -0.05rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: rgb(56, 59, 62);
  color: #eeeeee;
}

nav {
  display: flex;
  margin: 0 auto 60px;
  padding: 15px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2);

  & a {
    text-decoration: none;
    color: #eeeeee;
  }

  & a:hover {
    color: #afafaf;
  }

  & a.active {
    color: gold;
  }

  & .links {
    display: flex;
    gap: 15px;
  }
}

.container {
  padding: 15px 0;
  width: 70%;
  margin: auto;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 0.8em;
}

.Monster {
  padding: 10px;
  border: 2px solid white;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
  width: 75%;
  margin-top: 15px;
  margin-bottom: 25px;

  & .monster-name {
    margin-bottom: 5px;
  }

  & .monster-divider {
    margin: 10px auto;
  }

  & .monster-button {
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 7.5px 0;
    width: 100%;
  }

  & .monster-button:hover {
    transform: scale(1.025);
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.5)
  }
}

.cards-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.Article {
  width: 60%;
  margin: auto;
  border: 2px solid white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);

  & .article-name {
    font-size: 2rem;
  }

  & .article-divider {
    margin: 1.5rem 0;
  } 

  & .article-button {
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 7.5px 0;
    width: 100%;
  }

  & .article-button:hover {
    transform: scale(1.025);
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.5)
  }
}